agate==1.9.1
aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aiosignal==1.3.1
alembic==1.13.2
altair==5.4.1
aniso8601==9.0.1
annotated-types==0.7.0
anyio==4.4.0
asn1crypto==1.5.1
asttokens==2.4.1
astunparse==1.6.3
attrs==24.2.0
babel==2.16.0
backoff==2.2.1
backports-tarfile==1.2.0
blinker==1.8.2
cachetools==5.5.0
certifi==2024.8.30
cffi==1.17.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
coloredlogs==14.0
comm==0.2.2
croniter==3.0.3
cryptography==43.0.1
daff==1.3.46
dagster==1.8.6
dagster-dbt==0.24.5
dagster-embedded-elt==0.24.5
dagster-graphql==1.8.6
dagster-pipes==1.8.6
dagster-webserver==1.8.6
dbt-adapters==1.4.1
dbt-common==1.7.0
dbt-core==1.8.6
dbt-extractor==0.5.1
dbt-semantic-interfaces==0.5.1
dbt-snowflake==1.8.3
debugpy==1.8.5
decorator==5.1.1
deepdiff==7.0.1
dlt==0.5.4
docstring-parser==0.16
executing==2.1.0
filelock==3.15.4
frozenlist==1.4.1
fsspec==2024.6.1
geographiclib==2.0
gitdb==4.0.11
gitpython==3.1.43
giturlparse==0.12.0
gql==3.5.0
graphene==3.3
graphql-core==3.2.4
graphql-relay==3.2.0
greenlet==3.0.3
grpcio==1.66.1
grpcio-health-checking==1.62.3
h11==0.14.0
hexbytes==1.2.1
httptools==0.6.1
humanfriendly==10.0
humanize==4.10.0
idna==3.8
importlib-metadata==6.11.0
ipykernel==6.29.5
ipython==8.27.0
isodate==0.6.1
jaraco-classes==3.4.0
jaraco-context==6.0.1
jaraco-functools==4.0.2
jedi==0.19.1
jinja2==3.1.4
jsonpath-ng==1.6.1
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter-client==8.6.2
jupyter-core==5.7.2
keyring==25.3.0
leather==0.4.0
logbook==1.5.3
makefun==1.15.4
mako==1.3.5
markdown-it-py==3.0.0
markupsafe==2.1.5
mashumaro==3.13.1
matplotlib-inline==0.1.7
mdurl==0.1.2
minimal-snowplow-tracker==0.0.2
more-itertools==10.4.0
msgpack==1.0.8
multidict==6.1.0
narwhals==1.6.2
nest-asyncio==1.6.0
networkx==3.3
numpy==2.1.1
ordered-set==4.1.0
orjson==3.10.7
packaging==24.1
pandas==2.2.2
parsedatetime==2.6
parso==0.8.4
pathspec==0.12.1
pathvalidate==3.2.1
pendulum==3.0.0
pillow==10.4.0
platformdirs==4.2.2
ply==3.11
prompt-toolkit==3.0.47
protobuf==4.25.4
psutil==6.0.0
pure-eval==0.2.3
pyarrow==17.0.0
pycparser==2.22
pydantic==2.8.2
pydantic-core==2.20.1
pygments==2.18.0
pyjwt==2.9.0
pyopenssl==24.2.1
pyreadline3==3.4.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-slugify==8.0.4
pytimeparse==1.1.8
pytz==2024.1
pywin32==306
pywin32-ctypes==0.2.3
pyyaml==6.0.2
pyzmq==26.2.0
referencing==0.35.1
requests==2.32.3
requests-toolbelt==1.0.0
requirements-parser==0.11.0
rich==13.8.0
rpds-py==0.20.0
semver==3.0.2
setuptools==74.1.1
shellingham==1.5.4
simplejson==3.19.3
six==1.16.0
sling==1.2.18
sling-windows-amd64==1.2.18
smmap==5.0.1
sniffio==1.3.1
snowflake-connector-python==3.12.1
sortedcontainers==2.4.0
sqlalchemy==2.0.34
sqlglot==25.20.1
sqlglotrs==0.2.12
sqlparse==0.5.1
stack-data==0.6.3
starlette==0.38.5
streamlit==1.38.0
structlog==24.4.0
tabulate==0.9.0
tenacity==8.5.0
text-unidecode==1.3
time-machine==2.15.0
toml==0.10.2
tomli==2.0.1
tomlkit==0.13.2
toposort==1.10
tornado==6.4.1
tqdm==4.66.5
traitlets==5.14.3
typer==0.12.5
types-setuptools==74.0.0.20240831
typing-extensions==4.12.2
tzdata==2024.1
universal-pathlib==0.2.5
urllib3==2.2.2
uvicorn==0.30.6
watchdog==4.0.2
watchfiles==0.24.0
wcwidth==0.2.13
websockets==13.0.1
wheel==0.44.0
win-precise-time==1.4.2
yarl==1.11.1
zipp==3.20.1
